.cartContainer__list-title {
  display: flex;
  align-items: center;
  height: 3.5em;
  margin-left: -0.4em;
  margin-bottom: 0.6em;
  font-size: 1.5rem;
}

.cartContainer__list-titles {
  display: flex;
  align-items: center;
  height: 2.3em;
  border-bottom: 2px solid grey;
  list-style: none;
}

.cartContainer__list-titles li:first-child{
    flex: 2;
    padding-left:0.5em
  }

.cartContainer__list-titles li:not(:first-child){
  flex: 1;
}

.cartContainer__list-footer{
    display: flex;
}

.list-footer_BackButton{
    flex: 2;
}

.cartContainer__footerPrice{
    flex: 1.2;
    list-style-type: none;
}

.cartContainer__footerPrice li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0 0.7em 0;
}

.cartContainer__footerPrice li:nth-last-child(1) {
    border-top: solid 2px black;
    height: 5em
}
.cartContainer__footerPrice-Title{
    color: grey;
    width: 3.6em;
}
.cartContainer__footerPrice-Number{
    color: black;
    width: 3.6em;
}

.list-footer_BackButton{
    margin:auto 0 1.5em 0.3em;
    font-size: 1.4rem;
    text-decoration: none;
}