
.itemDetail__container-title {
    padding: 1rem 10rem;
    color: white;
}


.itemDetail__container-flex{
    display: flex;
    justify-content: space-evenly;
}

.itemDetail__container-left{
    background-color: black;
    width: 38rem;
    height: 30rem;
    display: grid;
    grid-template-areas: 
        "bigPhoto smallPhoto1"
        "bigPhoto smallPhoto2"
        "bigPhoto empty"
        "bottomText empty"
        ;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr 0.15fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    }

    .itemDetail__container-left-bigPhoto{
        grid-area: bigPhoto;
        background-size: cover;
    }

    .itemDetail__container-left-smallPhoto1{
        grid-area: smallPhoto1;
        background-color: aqua;
    }

    .itemDetail__container-left-smallPhoto2{
        grid-area: smallPhoto2;
        background-color: aqua;
    }
    
    @media (min-width: 35em) and (max-width: 55em){
       
        
        .itemDetail__container-left{
            background-color: black;
            width: 26em;
            height: 28em;
            display: grid;
            grid-template-areas: 
                "bigPhoto smallPhoto1"
                "bigPhoto smallPhoto2"
                "bigPhoto empty"
                "bottomText empty"
                ;
            grid-template-columns: 3fr 1.2fr;
            grid-template-rows: 1fr 1fr 1fr 0.15fr;
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            }
        
            .itemDetail__container-left-bigPhoto{
                grid-area: bigPhoto;
                background-color: blue;
            }
        
            .itemDetail__container-left-smallPhoto1{
                grid-area: smallPhoto1;
                background-color: aqua;
            }
        
            .itemDetail__container-left-smallPhoto2{
                grid-area: smallPhoto2;
                background-color: aqua;
            }
    }
    
   