.itemcontainer__item {
  background-color: aliceblue;
  width: 22rem;
  min-width: 18rem;
  height: 34rem;
  border: solid 2px rgb(56, 212, 240);
  border-radius: 5px;
  margin: 1rem;
}

.itemcontainer__item:hover {
  background-color: rgb(37, 155, 209);
  transform: scale(1.02);
  transition: 0.6s;
}

.itemcontainer__item-img {
  height: 400px;

  background-color: white;
  background-size: cover;
}

.itemcontainer__item-body {
  padding: 1em;
}
.itemcontainer__item-body h4 {
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1em;
}

.itemcontainer__item-body p {
  margin-bottom: 1em;
}

.itemcontainer__item-body button {
  padding: 0.5em 1em;
  margin: 0 0.5rem;
}
