.itemDetail__container-right {
  width: 26rem;
  height: 30rem;
  background-color: blue;
}

.itemDetail__container-right-title {
  display: flex;
  height: 3em;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}

.itemDetail__container-right-properties {
  padding-left: 1em;
}

.itemDetail__container-right-properties-price {
  margin-bottom: 2.2em;
  padding-top: 1em;
}
.itemDetail__container-right-properties-subtitle {
  margin-bottom: 3.5em;
}
.itemDetail__container-right-properties-option {
  margin-bottom: 1.5rem;
}

.itemDetail__container-right-properties-button {
  padding: 1em 3.5em;
  margin: 0 0.6em 1.8em 00.6em;
  text-align: center;
}

@media (max-width: 35em) {
  .itemDetail__container-right {
    width: 24em;
    height: 23em;
    background-color: blanchedalmond;
    margin: 0 auto;
  }

  .itemDetail__container-right-title {
    display: none;
  }

  .itemDetail__container-right-properties-price {
    margin-bottom: 1em;
  }
  .itemDetail__container-right-properties-subtitle {
    margin-bottom: 1em;
  }
  .itemDetail__container-right-properties-option {
    margin-bottom: 1rem;
  }
  .itemDetail__container-right-properties-form {
    margin-bottom: 1em;
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .itemDetail__container-right {
    width: 17em;
    height: 28em;
  }
  .itemDetail__container-right-properties-price {
    margin-bottom: 1em;
  }
  .itemDetail__container-right-properties-subtitle {
    margin-bottom: 1.5em;
  }
  .itemDetail__container-right-properties-option {
    margin-bottom: 1.5rem;
  }
  .itemDetail__container-right-properties-form {
    margin-bottom: 1em;
  }
}
