

a.nav__desktop {
  width: 80px;
  margin-left: 10px
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:
    url("https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80")
}

.flex{
    display: flex;
    gap: var(--gap,2rem);
    
}
  
.primary-header{
    align-items: center;
    justify-content: space-between;
    height: 80px
}

#primary-navigation{
  height:3em;
  justify-content:center;
  align-items: center;
}
.primary-navigation {
    list-style-type: none;
    padding: 0 3rem;
}

.primary-navigation a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    
}

.primary-navigation a:visited{
    color: white;
}

.primary-navigation a > span {
    font-weight: 700;
}

.mobile-nav-toogle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
}
.App-logo {
    height: 80px;
    pointer-events: none;
    width: 90px;
  
  }
  
  .mobileMenu__button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    aspect-ratio: 1;
    z-index: 10;
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
@media (max-width: 35em){

    .nav__desktop {
      display: none;
    }
    .primary-navigation{

        --gap: 4em;
        z-index: 9;
        position: fixed;
        inset: 0 0 0 27%;

        flex-direction: column;
        padding: min(44vh) 2em min(40vh) 2em;

        background-color: rgba(0, 0, 0, 0.281);
        backdrop-filter: blur(1.5rem);
        
        
    }

    .primary-navigation a{

      
      border-bottom: solid 1px white;
      padding-bottom: 6px;
      
  }

    .mobileMenu__button {
      display: flex;
    }

}

@media (min-width: 35em) and (max-width: 55em){
  .nav__mobile{
    display: none;
  }
  nav.nav__desktop{
    
    background-color: rgba(211, 211, 211, 0.11);
    backdrop-filter: blur(1rem);
    border-radius: 12px;
    margin-right: 5rem;
    
  }
  .App-logo {
    height: 10vmin;
    pointer-events: none;
    margin: 0;
  }
  
}

@media (min-width: 55em){
  .nav__mobile{
    display: none;
  }
  nav.nav__desktop{
    background-color: rgba(211, 211, 211, 0.11);
    backdrop-filter: blur(1rem);
    border-radius: 12px;
    margin-right: 3rem;
  }
  
}